{
    "presets": [
        "env",
        "react"
    ],
    "plugins": [
        [
            "transform-object-rest-spread"
        ],
        [
            "transform-runtime"
        ],
        [
            "import",
            {
                "libraryName": "antd",
                "libraryDirectory": "es",
                "style": "css"
            }
        ]
    ]
}